name: CI
'on': push
jobs:
  test_and_release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - -14
          - 14.21.0
    steps:
      - uses: actions/checkout@v4
      - name: 'Build / Test Node ${{ matrix.node-version }}'
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '${{ matrix.node-version }}'
          cache: 'npm'
      - name: release
        run: npx semantic-release
        env:
          CI: 'true'
          NPM_TOKEN: '${{ secrets.NPM_TOKEN }}'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
